:root {
    /* Colors */
    --color-accent: #10c9c3;
    --color-black: #000;
    --color-grey-1: #222;
    --color-grey-2: #555;
    --color-grey-3: #888;
    --color-grey-4:#ddd;
    --color-grey-5: #eee;
    --color-white: #fff;
    /* Font Sizes */
    --font-xs: 12px;
    --font-s: 16px;
    --font-m: 18px;
    --font-l: 24px;
    --font-xl: 32px;
  }
  
  * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    margin: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
  }
  
  .common_heading {
    font-weight: 500;
    font-size: var(--font-xl);
    color: var(--color-grey-1);
    line-height: 1.5;
  }
  
  .common_text {
    font-weight: 400;
    font-size: var(--font-s);
    color: var(--color-grey-1);
    line-height: 1.5;
    font-family: "Nunito Sans", sans-serif;
  }
  
  .container {
    width: 94%;
    height: 100%;
    max-width: 1600px;
    margin: auto;
  }
  .header{
position: fixed;
width: 100%;
backdrop-filter: blur(10px);

  }
  .header_wrap{
    height: 4em;
display: flex;
justify-content: space-between;
align-items: center;

  }
  .header_logo{
height: 3em;
width: 4em;
position: relative;

  }
  .header_logo >img{
    height: 100%;
    position: absolute;
    width: 100%;
    object-fit: contain;
    object-position: center;
  }
  
  
  .header_list{
display: flex;
gap: 2em;
list-style: none;
  }
  .header_link{
color: var(--color-grey-1);
  }
  .header_link > a {
    color: inherit;
    text-decoration: none;

  }
  
  .main {
    height: 100vh;
    background: url("./img/main.jpg") no-repeat center center / cover;
  }
  
  .main_wrap {
    display: flex;
    justify-content: end;
    align-items: center;
    height: 100%;
  }
  
  .main_block {
    width: 50%;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2em;
  }
  
  .main_text {
    width: 90%;
  }
  
  .main_button {
    padding: 16px 42px;
    text-transform: uppercase;
    background: var(--color-accent);
    border: none;
    border-radius: 4px;
    color: var(--color-white);
    font-size: var(--font-xs);
  }
  
  .about {
    padding: 100px 0;
  }
  
  .about_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.5em;
  }
  
  .about_text {
    text-align: center;
    max-width: 400px;
  }
  
  .about_img {
    width: 200px;
  }
  
  .about_img > img {
    width: 100%;
  }
  
  .skills {
    background: var(--color-grey-5);
  }
  
  .skills_wrap {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .skills_left {
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .skills_heading {
    text-transform: capitalize;
    font-size: var(--font-l);
  }
  
  .skills_block {
    display: flex;
    flex-direction: column;
    gap: 2em;
  }
  
  .skills_item {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  
  .skills_title {
    display: flex;
    gap: 2em;
  }
  
  .skills_text {
    font-size: 12px;
    font-weight: 500;
  }
  
  .skills_percent {
    font-size: 12px;
    font-weight: 500;
  }
  
  .skills_line {
    width: 90%;
    height: 3px;
    background: var(--color-grey-4);
  }
  
  .skills_level {
    width: 75%;
    background: var(--color-accent);
    height: 100%;
  }
  
  #line75 {
    width: 75%;
  }
  
  #line90 {
    width: 90%;
  }
  
  #line65 {
    width: 65%;
  }
  
  .skills_right {
    background: url("./img/conv.jpg") no-repeat right center / cover;
  }
  
  .stats {
    background: var(--color-accent);
  }
  
  .stats_wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
  }
  
  .stats_block {
    color: var(--color-white);
    display: grid;
    column-gap: 1em;
    grid-template-columns: auto 1fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "icon title"
      "icon text";
    justify-items: start;
    align-items: center;
  }
  
  .stats_icon {
    grid-area: icon;
    font-size: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .stats_title {
    font-size: var(--font-m);
    color: var(--color-white);
    grid-area: title;
    line-height: 1;
  }
  
  .stats_text {
    text-transform: uppercase;
    grid-area: text;
    font-size: var(--font-xs);
    color: var(--color-white);
    line-height: 1;
  }
  
  .gallery {
    background: var(--color-grey-5);
  }
  
  .gallery_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  
  .gallery_cell {
    position: relative;
    aspect-ratio: 4 / 3;
    overflow: hidden;
  }
  
  .gallery_cell > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .gallery_hover {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000a;
    opacity: 0;
    color: var(--color-white);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--font-l);
    transition: 0.3s;
    cursor: pointer;
  }
  
  .gallery_hover:hover {
    opacity: 1;
    transition: 0.3s;
  }
  
  .gallery_button {
    width: 100%;
    color: var(--color-grey);
    background: var(--color-grey-5);
    border: none;
    outline: none;
    display: block;
    padding: 2em 0;
    font-size: var(--font-xs);
    font-weight: 500;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
  }
  .gallery_button:hover {
    background: var(--color-grey-4);
    transition: 0.3s;
  }
  .process {

  }
  .process_wrap {

  }
  .process_heading {

  }
  .process_text {

  }
  .process_video {

  }
  .process_button {

  }